{% extends 'base/base.html' %}
{% load static %}
{% block title %}
<title>Investment | Users List</title>
{% endblock title %}

{% block script %}
<script type="module" src="{% static 'main/js/user_list.js' %}"></script>
{% endblock script %}

{% block breadcrumb %}
<li class="flex items-center gap-3">
    <span class="text-sm text-gray-500 font-medium tracking-wide">Profile</span>
    <span class="text-base text-gray-400 font-light">/</span>
</li>
<li class="flex items-center gap-3">
    <span class="text-sm text-red-600 font-medium tracking-wide">Users List</span>
    <span class="text-3xl text-gray-400 font-light">|</span>
</li>
{% endblock breadcrumb %}

{% block breadcrumbtitle %}
Users List
{% endblock breadcrumbtitle %}


{% block content %}
<div class="space-y-7">
    <div class="lg:grid lg:grid-cols-12 gap-7">
        <div class="lg:col-span-12 flex flex-col border rounded overflow-hidden border-gray-400">
            <div class="py-3 px-4 bg-gray-100 ">
                <span class="font-medium text-slate-700 text-lg ">Users List</span>
            </div>
            <div class="gap-2 py-6 px-4 border-t border-gray-400 space-y-6">
                <form method="GET">
                    <div class="lg:grid lg:grid-cols-12 gap-2 justify-between">
                        <div class="lg:col-span-12 lg:flex">
                            <input type="text" name="search_query"  placeholder="Search ex. username, email, number or search ( all )"
                                class="border border-r-0 bg-gray-50 rounded-l h-10 border-gray-500 text-slate-500 font-medium tracking-wide text-sm focus:outline-none block w-full py-1 px-3">
                            <button
                                class="bg-red-500 border gap-2 items-center tracking-wide border-red-700 rounded-r text-white py-1 px-3 font-medium inline-flex"
                                type="submit">
                                <i class="icon-magnifying-glass"></i>
                                <span>Search</span>
                            </button>
                        </div>
                    </div>
                </form>
                <div class="col-span-12">
                    <div class="relative">
                        <table
                            class="w-full border border-gray-300 font-medium text-sm tracking-wide text-left text-gray-500 ">
                            <thead class="uppercase bg-gray-200 border-b border-gray-300">
                                <tr>
                                    <th scope="col" class="font-medium px-3 py-2 border-r border-gray-300">
                                        Username
                                    </th>
                                    <th scope="col" class="font-medium px-3 py-2 border-r border-gray-300">
                                        Mobile
                                    </th>
                                    <th scope="col" class="font-medium px-3 py-2 border-r border-gray-300">
                                        Email
                                    </th>
                                    <th scope="col" class="font-medium px-3 py-2 border-r border-gray-300">
                                        Wallet Money
                                    </th>
                                    <th scope="col" class="font-medium px-3 py-2 border-r border-gray-300">
                                        Action
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for user in all_users %}
                                    <tr class="bg-gray-100 border-b border-gray-300 last:border-b-0">
                                        <td scope="col" class=" px-3 py-2 border-r border-gray-300">
                                            {{user.username}}
                                        </td>
                                        <td scope="col" class="px-3 py-2 border-r border-gray-300">
                                            {{user.user_profile.phone_number|default:"None"}}
                                        </td>
                                        <td scope="col" class="px-3 py-2 border-r border-gray-300">
                                            {{user.email|default:"None"}}
                                        </td>
                                        <td scope="col" class="px-3 py-2 border-r border-gray-300">
                                            {{user.user_wallet.amount}}
                                        </td>
                                        {% csrf_token %}
                                        <input type="hidden" value="{% url 'active-inactive' %}" id="action-url" name="">
                                        <td scope="col" class="font-medium px-3 py-2 border-r border-gray-300">
                                            <label class="relative inline-flex items-center gap-2 cursor-pointer">
                                                <input data-check-user="true" data-user-id="{{user.pk}}" type="checkbox" value="" class="sr-only peer" {% if user.is_active %} checked {% endif %}>
                                                <div class="w-7 h-4 bg-red-600 rounded peer border border-red-800 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded after:h-3 after:w-3 after:transition-all  peer-checked:bg-green-600 peer-checked:border-green-800"></div>
                                                <span  class="w-10 text-xs">Active</span>
                                            </label>
                                        </td>
                                    </tr>
                                    {% empty %}
                                    <p class="text-red-400 mb-2 text-center text-xl font-medium">No search result found.</p>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                {% if is_paginated %}
                <div class="lg:grid lg:grid-cols-12 gap-2">
                    <div class="lg:col-span-4 lg:flex gap-2">
                        {% if page_obj.has_previous %}
                            <a href="?page=1" class="inline-flex items-center gap-2 font-medium text-sm text-white border-red-700 border px-2 py-1 rounded bg-red-500">
                                <i class="icon-arrow"></i>First
                            </a>
                            
                            <a href="?page={{ page_obj.previous_page_number }}" class="inline-flex items-center gap-2 font-medium text-sm text-white border-red-700 border px-2 py-1 rounded bg-red-500">
                                <i class="icon-arrow-left"></i>previous
                            </a>
                        {% endif %}
                    </div>
                    <div class="lg:col-span-4 lg:flex items-center justify-center">
                        <span class="text-sm tracking-wide font-medium  text-gray-500">
                            Page {{ page_obj.number }} of {{ paginator.num_pages }}
                        </span>
                    </div>
                        
                    <div class="lg:col-span-4 lg:flex items-center justify-end gap-2">
                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}" class="inline-flex items-center gap-2 border-gray-400 font-medium text-sm text-gray-500 border px-2 py-1 rounded bg-gray-100">
                                <span>Next</span>
                                <i class="icon-arrow-right"></i>
                            </a>
                            <a href="?page={{ paginator.num_pages }}" class="inline-flex items-center gap-2 border-gray-400 font-medium text-sm text-gray-500 border px-2 py-1 rounded bg-gray-100">
                                <span>Last</span>
                                <i class="icon-arrow"></i>
                            </a>
                        {% endif %}
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}