{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    <title></title>
    {% endblock title %}
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'main/image/logonew.svg' %}">
    <link rel="stylesheet" href="{% static 'main/css/mainStyle.css' %}">
    <script type="module" src="{% static 'main/js/tailwind.js' %}"></script>
    <script type="module" src="{% static 'main/js/tailwind.config.js' %}"></script>
    <script type="module" src="{% static 'main/js/alert.js' %}"></script>
    <script type="module" src="{% static 'main/js/loading.js' %}"></script>
    <script type="module" src="{% static 'main/js/dashboard.js' %}"></script>
    <script type="module" src="{% static 'main/js/mobilemenu_dash.js' %}"></script>


    <style>
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
      </style>
</head>

<body class="" id="onLoadAnimation">
    <div class="" id="loading">
        <img src="{% static 'main/image/loading.gif' %}">
    </div>
    <section class="">
        <nav class="fixed w-full bg-white shadow z-[99999]">
            <div class="flex items-center justify-between w-full py-4 px-8">
                <div class="">
                    <a href="{% url 'home' %}" class="flex items-center gap-2">
                        <span class="text-black text-3xl tracking-wider font-bold">BlackRock</span>
                    </a>
                </div>
                <div class="flex-1 flex items-center pl-3">
                    <h1 class="lg:text-2xl md:text-2xl hidden md:flex text-black font-light tracking-wide">Welcome Back, {{request.user}}</h1>
                </div>
                <div class="flex px-3 gap-4">
                    <button  class="flex gap-2 border border-gray-400 py-1 px-3 rounded bg-gray-200 text-gray-600 hover:text-black items-center justify-center rounded text-sm ">
                        <i class="icon-sun"></i>
                        <span class="text-sm tracking-wide">Light</span>
                    </button>
                    <a href="{% url 'logout' %}" class="hover:text-white border border-red-800 rounded bg-red-500 py-1 px-3 gap-2 text-gray-50 inline-flex items-center text-sm focus:outline-none">
                        <span class="text-sm tracking-wide">Logout</span>
                        <i class="icon-log-out"></i>
                    </a>
                    <!-- <span class="font-light text-xl text-gray-600">|</span>
                    <button class="inline-flex text-gray-600 w-7 h-7  hover:text-black items-center justify-center rounded text-xl ">
                        <i class="icon-expand"></i>
                    </button>   -->
                    <!-- <span class="font-light text-xl text-gray-600 lg:hidden inline-flex">|</span>
                    <button data-toggle-mobile="mobile" class="lg:hidden inline-flex text-gray-600 w-7 h-7  hover:text-black items-center justify-center rounded text-xl ">
                        <i class="icon-menu"></i>
                    </button>                          -->
                </div>
            </div>
        </nav>
        <div class="lg:hidden block">
            {% include 'base/mobile_menu_dashboard.html' %}
        </div>
        <div class="flex flex-wrap ">
            <main class="relative pt-24 w-full p-8">
                {% block message %}
                {% endblock message%}
                <section class="space-y-7 mb-20">
                    <nav class="lg:grid lg:grid-cols-12">
                        <div class="col-span-12 flex gap-4 items-center">
                            <h2 class="lg:text-2xl text-lg flex-auto text-slate-700 font-medium tracking-widest">
                                {% block breadcrumbtitle %}
                                {% endblock breadcrumbtitle %}
                            </h2>
                            {% block breadcrumbbutton %}
                            {% endblock breadcrumbbutton %}
                        </div>
                    </nav>
                    <div class="section-main">
                        {% block content %}
                        {% endblock content %}
                    </div>

                </section>
            </main>
        </div>
        <div class="fixed bottom-0 w-full bg-white z-50 lg:px-8 px-4 py-3">
            <nav class="relative">
                {% if not request.user.is_superuser %}
                <div class="flex justify-between">
                    <a class="text-center space-y-2 transition-colors duration-300 transform"
                        href="{% url 'home' %}">
                        <span class="text-white lg:text-2xl text-md block lg:w-14 lg:h-14 w-9 h-9 lg:border-4 border-2 border-gray-900 rounded-full bg-gray-700 inline-flex items-center justify-center">
                            <i class="icon-dashboard"></i>
                        </span>
                    </a>
                    <a class="text-center space-y-2 transition-colors duration-300 transform"
                        href="{% url 'add_bank' %}">
                        <span class="text-gray-600 lg:text-2xl text-md block">
                            <i class="icon-museum block"></i>
                        </span>
                        <span class="text-gray-600 block lg:text-sm text-xs text-gray-600 font-medium">Bank</span>
                    </a>
                    <a class="text-center space-y-2 transition-colors duration-300 transform"
                        href="{% url 'deposit' %}">
                        <span class="text-gray-600 lg:text-2xl text-md block">
                            <i class="icon-wallet block"></i>
                        </span>
                        <span class="text-gray-600 block lg:text-sm text-xs font-medium">Deposit</span>
                    </a>
                    <a class="text-center space-y-2 transition-colors duration-300 transform"
                        href="{% url 'withdrawl' %}">
                        <span class="text-gray-600 lg:text-2xl text-md block">
                            <i class="icon-withdrawal block"></i>
                        </span>
                        <span class="text-gray-600 block lg:text-sm text-xs font-medium">Withdraw</span>
                    </a>
                    <a class="text-center space-y-2 transition-colors duration-300 transform"
                        href="{% url 'task-details' request.user.pk %}">
                        <span class="text-gray-600 lg:text-2xl text-md block">
                            <i class="icon-withdrawal block"></i>
                        </span>
                        <span class="text-gray-600 block lg:text-sm text-xs font-medium">Tasks</span>
                    </a>
                    <a class="text-center space-y-2 transition-colors duration-300 transform"
                        href="{% url 'profile-setting' %}">
                        <span class="text-gray-600 lg:text-2xl text-md block">
                            <i class="icon-profile-setting block"></i>
                        </span>
                        <span class="text-gray-600 block lg:text-sm text-xs font-medium">Profile</span>
                    </a>
                </div>
                {% endif %}
                <div class="flex justify-center gap-8">
                    {% if request.user.is_superuser %}
                    <a class="text-center space-y-2 transition-colors duration-300 transform"
                        href="{% url 'user-list' %}">
                        <span class="text-gray-600 lg:text-2xl text-md block">
                            <i class="icon-users block"></i>
                        </span>
                        <span class="text-gray-600 block lg:text-sm text-xs font-medium">Users List</span>
                    </a>
                    <a class="text-center space-y-2 transition-colors duration-300 transform"
                        href="{% url 'user-details' %}">
                        <span class="text-gray-600 lg:text-2xl text-md block">
                            <i class="icon-users block"></i>
                        </span>
                        <span class="text-gray-600 block lg:text-sm text-xs font-medium">Transactions</span>
                    </a>
                    <a class="text-center space-y-2 transition-colors duration-300 transform"
                        href="{% url 'task-view' %}">
                        <span class="text-gray-600 lg:text-2xl text-md block">
                            <i class="icon-text-document-inverted block"></i>
                        </span>
                        <span class="text-gray-600 block lg:text-sm text-xs font-medium ">Task View</span>
                    </a>
                    {% endif %}
                </div>
            </nav>
       </div>
    </section>
</body>
<script>
    if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
    }
</script>
{% block script %}
{% endblock script %}
</html>