{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    <title></title>
    {% endblock title %}
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'main/image/logo.svg' %}">
    <link rel="stylesheet" href="{% static 'main/css/mainStyle.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/login/login.css' %}">
    <script type="module" src="{% static 'main/js/tailwind.js' %}"></script>
    <script type="module" src="{% static 'main/js/tailwind.config.js' %}"></script>
</head>

<body class="">
    <section class="">
        <nav class="border-b after:content-[''] after:bg-pattern after:absolute after:left-0 after:right-0 after:top-0 after:bottom-0  relative w-full border-gray-400"
            style="background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);">
            <div class="mx-auto relative z-50">
                <div class="lg:flex lg:items-center lg:justify-between">
                    <div class="flex items-center justify-between w-full">
                        <div class="w-60 pl-8 border-r border-gray-400 py-4">
                            <a href="#" class="flex items-center gap-2">
                                <img class="w-7 invert" src="{% static 'main/image/logo.svg' %}" alt="">
                                <span class="text-white text-base uppercase tracking-wider font-bold">Investment</span>
                            </a>
                        </div>
                        <div class="flex-1 flex items-center pl-3">
                            <h1 class="text-2xl text-white font-light tracking-wide">Welcome Back, admin</h1>
                        </div>
                        <div class="flex px-4 gap-4">
                            <button
                                class="shadow-md text-white w-7 h-7 flex items-center justify-center border rounded"><i
                                    class="icon-resize-full-screen"></i></button>
                            <button
                                class="shadow-md text-white w-7 h-7 flex items-center justify-center border rounded"><i
                                    class="icon-light-up"></i></button>
                            <button
                                class="shadow-md text-white w-7 h-7 flex items-center justify-center border rounded"><i
                                    class="icon-bell"></i></button>
                        </div>
                        <div class="flex items-center border-l pl-4 pr-8">
                            <button type="button" class="flex items-center focus:outline-none"
                                aria-label="toggle profile dropdown">
                                <div class="shadow-md w-9 h-9 overflow-hidden border-2 rounded-full">
                                    <img src="https://images.unsplash.com/photo-1517841905240-472988babdf9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80"
                                        class="object-cover w-full h-full" alt="avatar">
                                </div>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <div class="flex">
            <aside
                class="bg-gray-100 shadow-xl border-r border-gray-400 flex flex-col w-60 h-screen px-4 py-5 pt-8 overflow-y-auto ">
                <div class="flex flex-col justify-between flex-1">
                    <nav class="-mx-3 space-y-2 ">
                        <div class="space-y-1 ">
                            <a class="flex items-center px-3 py-2 text-gray-600 transition-colors duration-300 transform rounded dark:text-gray-200 hover:bg-gray-100 dark:hover:bg-gray-800 dark:hover:text-gray-200 hover:text-gray-700"
                                href="#">
                                <i class="icon-dashboard"></i>
                                <span class="mx-2 text-sm font-medium">Dashboard</span>
                            </a>

                        </div>
                        <div class="space-y-1 ">
                            <label class="px-3 text-sm text-gray-700 tracking-wide uppercase dark:text-gray-400">Account
                                Settings</label>
                            <a class="flex items-center px-3 py-2 text-gray-600 transition-colors duration-300 transform rounded dark:text-gray-200 hover:bg-gray-100 dark:hover:bg-gray-800 dark:hover:text-gray-200 hover:text-gray-700"
                                href="#">
                                <i class="icon-museum"></i>
                                <span class="mx-2 text-sm font-medium">Bank Account</span>
                            </a>
                            <a class="flex items-center px-3 py-2 text-gray-600 transition-colors duration-300 transform rounded dark:text-gray-200 hover:bg-gray-100 dark:hover:bg-gray-800 dark:hover:text-gray-200 hover:text-gray-700"
                                href="#">
                                <i class="icon-wallet"></i>
                                <span class="mx-2 text-sm font-medium">Deposit</span>
                            </a>
                            <a class="flex items-center px-3 py-2 text-gray-600 transition-colors duration-300 transform rounded dark:text-gray-200 hover:bg-gray-100 dark:hover:bg-gray-800 dark:hover:text-gray-200 hover:text-gray-700"
                                href="#">
                                <i class="icon-withdrawal"></i>
                                <span class="mx-2 text-sm font-medium">Withdraw</span>
                            </a>
                            <a class="flex items-center px-3 py-2 text-gray-600 transition-colors duration-300 transform rounded dark:text-gray-200 hover:bg-gray-100 dark:hover:bg-gray-800 dark:hover:text-gray-200 hover:text-gray-700"
                                href="#">
                                <i class="icon-edit"></i>
                                <span class="mx-2 text-sm font-medium">Record</span>
                            </a>
                            <a class="flex items-center px-3 py-2 text-gray-600 transition-colors duration-300 transform rounded dark:text-gray-200 hover:bg-gray-100 dark:hover:bg-gray-800 dark:hover:text-gray-200 hover:text-gray-700"
                                href="#">
                                <i class="icon-order"></i>
                                <span class="mx-2 text-sm font-medium">Order Hall</span>
                            </a>
                            <a class="flex items-center px-3 py-2 text-gray-600 transition-colors duration-300 transform rounded dark:text-gray-200 hover:bg-gray-100 dark:hover:bg-gray-800 dark:hover:text-gray-200 hover:text-gray-700"
                                href="#">
                                <i class="icon-report"></i>
                                <span class="mx-2 text-sm font-medium">Message & Report</span>
                            </a>
                        </div>

                        <div class="space-y-3 ">
                            <label
                                class="px-3 text-sm tracking-wide text-gray-700 uppercase dark:text-gray-400">Setting</label>
                            <a class="flex items-center px-3 py-2 text-gray-600 transition-colors duration-300 transform rounded dark:text-gray-200 hover:bg-gray-100 dark:hover:bg-gray-800 dark:hover:text-gray-200 hover:text-gray-700"
                                href="#">
                                <i class="icon-profile-setting"></i>
                                <span class="mx-2 text-sm font-medium">Profile Settings</span>
                            </a>
                        </div>
                    </nav>
                </div>
            </aside>
            <main class="p-8 flex-1 space-y-6">
                <nav class="flex gap-4 bg-slate-200 py-2 px-5 rounded shadow-lg" aria-label="Breadcrumb">
                    <ol class=" inline-flex items-center space-x-1 md:space-x-3">
                        <li class="inline-flex items-center gap-3">
                            <a href="#"
                                class="inline-flex items-center text-base font-medium hover:text-gray-700 text-blue-600 dark:text-gray-400 dark:hover:text-white">
                                <i class="icon-home"></i>
                            </a>
                            <span class="text-base text-gray-400 font-light">/</span>
                        </li>
                        {% block breadcrumb %}
                        
                        {% endblock breadcrumb %}
                        
                    </ol>
                    <h2 class="text-2xl text-slate-700 font-medium tracking-widest">
                        {% block breadcrumbtitle %}
                        {% endblock breadcrumbtitle %}
                    </h2>
                </nav>
                <div class="section-main">
                    {% block content %}
                    {% endblock content %}
                </div>
            </main>
        </div>
    </section>
</body>

</html>