
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    <title></title>
    {% endblock title %}
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'main/image/logonew.svg' %}">
    <link rel="stylesheet" href="{% static 'main/css/mainStyle.css' %}">
    <script type="module" src="{% static 'main/js/tailwind.js' %}"></script>
    <script type="module" src="{% static 'main/js/tailwind.config.js' %}"></script>
    <script type="module" src="{% static 'main/js/loading.js' %}"></script>
    <script type="module" src="{% static 'main/js/mobilemenu_website.js' %}"></script>
    {% block script %}
    {% endblock script %}
</head>

<body class="" id="onLoadAnimation">
    <div class="" id="loading">
        <img src="{% static 'main/image/loading.gif' %}">
    </div>
    <section class="">
        <nav class="relative after:content-[''] after:bg-pattern after:absolute after:left-0 after:right-0 after:top-0 after:bottom-0  w-full">
            <div class="mx-auto relative z-50">
                <div class="lg:flex lg:items-center lg:justify-between">
                    <div class="flex items-center justify-between w-full">
                        <div class="pl-8 py-6">
                            <a href="{% url 'webhome' %}" class="flex items-center gap-2">
                                <span class="text-black text-3xl tracking-wider font-bold">BlackRock</span>
                            </a>
                        </div>
                        <div class="flex-1 w-full gap-6 lg:flex hidden items-center justify-end lg:pr-8 border-r border-white">
                            <a class="inline-flex gap-1 items-center text-sm text-gray-600 font-medium" href="{% url 'webhome' %}">
                                <i class="icon-home"></i>
                                <span>Home</span>
                            </a>
                            <a class="inline-flex gap-1 items-center text-sm text-gray-600 font-medium" href="{% url 'about' %}">
                                <i class="icon-about-us"></i>
                                <span>About Company</span>
                            </a>
                            <a class="inline-flex gap-1 items-center text-sm text-gray-600 font-medium" href="{% url 'our_products' %}">
                                <i class="icon-gift"></i>
                                <span>Our Products</span>
                            </a>
                            <a class="inline-flex gap-1 items-center text-sm text-gray-600 font-medium" href="{% url 'work_from_home' %}">
                                <i class="icon-qualifications"></i>
                                <span>Work From Home</span>
                            </a>
                            <a class="inline-flex gap-1 items-center text-sm text-gray-600 font-medium" href="{% url 'terms_condition' %}">
                                <i class="icon-edit"></i>
                                <span>Terms & Conditions</span>
                            </a>
                        </div>
                        {% if request.user.is_authenticated %}
                        <div class="relative lg:flex hidden items-center pl-3 lg:pr-8 pr-2">
                            <a href="{% url 'home' %}" class="flex gap-2 items-center">
                                <div class="w-9 h-9 overflow-hidden border-2 border-gray-500 rounded-full">
                                    <img src="{% static 'main/image/avtar.avif'%}" class="object-cover w-full h-full" alt="avatar">
                                </div>
                            </a>
                        </div>
                        {% else %}
                        <div class="relative lg:flex hidden gap-2 items-center lg:pl-8 lg:pr-8 pr-2">
                            <a class="inline-flex items-center border-2 py-2 px-3 rounded bg-gray-100 border-red-500 gap-2 text-sm font-semibold tracking-wider text-red-600 " href="{% url 'login' %}">
                                <i class="icon-login"></i>
                                <span>Login</span>
                            </a>
                        </div>
                        {% endif %}
                        <div class="pr-8">
                            <button data-toggle-mobile-website="mobile" class="lg:hidden inline-flex text-gray-600 w-7 h-7  hover:text-black items-center justify-center rounded text-2xl ">
                                <i class="icon-menu"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <div class="lg:hidden">
            {% include 'base/website_mobile_menu.html' %}
        </div>
        <div class="w-full">
            {% block background %}
            
            {% endblock background %}
            <main class="mx-auto">
                <section class="space-y-7 my-16">
                    {% block content %}
                    {% endblock content %}
                </section>
            </main>
            <div class="lg:grid lg:space-y-0 space-y-10 lg:grid-cols-12 py-12 bg-black lg:gap-7 px-8 ">
                <div class="col-span-5 space-y-7 lg:border-r lg:border-white">
                    <span class="text-white text-4xl tracking-wider font-bold">BlackRock</span>
                    <p class="text-base font-medium text-white pr-20 tracking-wide">As a global BlackRock manager and fiduciary to our clients, our purpose at BlackRock is to help everyone experience financial well-being. Since 1999, we've been a leading provider of financial technology, and our clients turn to us for the solutions they need when planning for their most important goals.</p>
                </div>
                <div class="col-span-2 lg:border-r lg:border-white">
                    <h4 class="tracking-wide font-semibold text-xl text-white">Quick Links</h4>
                    <div class="flex flex-wrap space-y-3 mt-6">
                        <a class="inline-flex gap-1 items-center text-sm text-white font-medium" href="{% url 'webhome' %}">
                            <i class="icon-home"></i>
                            <span>Home</span>
                        </a>
                        <a class="inline-flex w-full gap-1 items-center text-sm text-white font-medium" href="{% url 'about' %}">
                            <i class="icon-about-us"></i>
                            <span>About Company</span>
                        </a>
                        <a class="inline-flex w-full gap-1 items-center text-sm text-white font-medium" href="{% url 'work_from_home' %}">
                            <i class="icon-qualifications"></i>
                            <span>Work From Home</span>
                        </a>
                        <a class="inline-flex w-full gap-1 items-center text-sm text-white font-medium" href="{% url 'terms_condition' %}">
                            <i class="icon-edit"></i>
                            <span>Terms & Conditions</span>
                        </a>
                    </div>
                </div>
                <div class="col-span-5">
                    <h4 class="tracking-wide font-semibold text-xl text-white">Subscribe</h4>
                    <div class="flex relative mt-6">
                        <input  class="flex-1 h-12 focus:outline p-2 text-base font-medium tracking-wide" type="text">
                        <button class="p-2 px-5 h-12 inline-flex items-center justify-center gap-1 bg-red-500 text-white tracking-wide" type="submit"> 
                            <span class="hidden lg:inline-flex">Subscribe</span>
                            <i class="icon-chevron-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>