{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    <title></title>
    {% endblock title %}
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'main/image/logo.svg' %}">
    <link rel="stylesheet" href="{% static 'main/css/mainStyle.css' %}">
    <script type="module" src="{% static 'main/js/tailwind.js' %}"></script>
    <script type="module" src="{% static 'main/js/tailwind.config.js' %}"></script>
    <script type="module" src="{% static 'main/js/loading.js' %}"></script>
    <script type="module" src="{% static 'main/js/mobilemenu_website.js' %}"></script>
    {% block script %}
    {% endblock script %}
</head>

<body class="" id="onLoadAnimation">
    <div class="" id="loading">
        <img src="{% static 'main/image/loading.gif' %}">
    </div>
    <section class="">
        <nav class="fixed z-50 border-b after:content-[''] after:bg-pattern after:absolute after:left-0 after:right-0 after:top-0 after:bottom-0  w-full border-gray-400"
            style="background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);">
            <div class="mx-auto relative z-50">
                <div class="lg:flex lg:items-center lg:justify-between">
                    <div class="flex items-center justify-between w-full">
                        <div class="pl-8 py-4">
                            <a href="" class="flex items-center gap-2">
                                <img class="lg:w-7 md:w-7 w-[1rem] aspect-auto invert" src="{% static 'main/image/logo.svg' %}" alt="">
                                <span class="text-white text-base uppercase tracking-wider font-bold">Investment</span>
                            </a>
                        </div>
                        <div class="flex-1 w-full gap-6 lg:flex hidden items-center justify-end lg:pr-8 border-r border-white">
                            <a class="inline-flex gap-1 items-center text-sm text-white font-medium" href="{% url 'about' %}">
                                <i class="icon-about-us"></i>
                                <span>About Company</span>
                            </a>
                            <a class="inline-flex gap-1 items-center text-sm text-white font-medium" href="{% url 'investment' %}">
                                <i class="icon-investment"></i>
                                <span>Investment</span>
                            </a>
                            <a class="inline-flex gap-1 items-center text-sm text-white font-medium" href="{% url 'company_qualification' %}">
                                <i class="icon-qualifications"></i>
                                <span>Company Qualification</span>
                            </a>
                            <a class="inline-flex gap-1 items-center text-sm text-white font-medium" href="{% url 'notice' %}">
                                <i class="icon-notice"></i>
                                <span>Notice</span>
                            </a>
                            <a class="inline-flex gap-1 items-center text-sm text-white font-medium" href="{% url 'terms_condition' %}">
                                <i class="icon-edit"></i>
                                <span>Terms & Conditions</span>
                            </a>
                        </div>
                        {% if request.user.is_authenticated %}
                        <div class="relative lg:flex hidden items-center pl-3 lg:pr-8 pr-2">
                            <a href="{% url 'home' %}" class="flex gap-2 items-center">
                                <div class="shadow-md w-9 h-9 overflow-hidden border-2 rounded-full">
                                    <img src="{% static 'main/image/avtar.avif'%}" class="object-cover w-full h-full" alt="avatar">
                                </div>
                                <span class="text-lg text-white">{{request.user |title}}</span>
                            </a>
                        </div>
                        {% else %}
                        <div class="relative lg:flex hidden gap-2 items-center lg:pl-8 lg:pr-8 pr-2">
                            <a class="inline-flex items-center border-2 py-2 px-3 rounded bg-gray-100 border-red-500 gap-2 text-sm font-semibold tracking-wider text-red-600 " href="{% url 'login' %}">
                                <i class="icon-login"></i>
                                <span>Login</span>
                            </a>
                        </div>
                        {% endif %}
                        <div class="pr-8">
                            <button data-toggle-mobile-website="mobile" class="lg:hidden inline-flex text-white w-7 h-7  hover:text-black items-center justify-center rounded text-2xl ">
                                <i class="icon-menu"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <div class="lg:hidden">
            {% include 'base/website_mobile_menu.html' %}
        </div>
        <div class="w-full">
            {% block background %}
            
            {% endblock background %}
            <main class="container mx-auto">
                <section class="space-y-7 my-16 lg:px-0 px-8">
                    {% block content %}
                    {% endblock content %}
                </section>
            </main>
            <div class="lg:grid lg:grid-cols-12 lg:gap-7 py-3 bg-gray-100  px-8">
                <div class="col-span-12 text-center">
                    <span class="block font-medium text-sm tracking-wide text-gray-500">Copyright © 2012 <strong>Investment</strong>. All rights reserved.</span>
                </div>
            </div>
        </div>
    </section>
</body>

</html>