{% extends 'base/base.html' %}
{% load static %}
{% block title %}
<title>Bank Account</title>
{% endblock title %}

{% block breadcrumb %}
    <li class="flex items-center gap-3">
        <span class="text-sm text-gray-500 font-medium tracking-wide">Account</span>
        <span class="text-base text-gray-400 font-light">/</span>
    </li>
    <li class="flex items-center gap-3">
        <span class="text-sm text-red-600 font-medium tracking-wide">Bank Account</span>
        <span class="text-3xl text-gray-400 font-light">|</span>
    </li>
{% endblock breadcrumb %}

{% block breadcrumbtitle %}
Bank Account
{% endblock breadcrumbtitle %}


{% block content %}
<div class="md:grid lg:grid-cols-12 md:gap-4 lg:gap-4">
    <div class="md:col-span-7 w-full lg:col-span-7">
        <h2 class="text-lg text-gray-500 mb-2">Bank Accounts</h2>
        {% for bank in banks %}
            <div class="lg:w-1/2 md:w-1/2 rounded shadow bg-slate-200 p-2 mb-2">
            <div class="flex">
            </div>
            <div class=""><span class="font-bold text-gray-700">Holder Name</span> : {{bank.account_holder_name}}</div>
            <div class="flex justify-between">
              <div class=""><span class="font-bold text-gray-700">Bank</span> : {{bank.bank_name}}</div>
              <div class=""><span class="font-bold text-gray-700">Branch</span> : {{bank.branch}}</div>
            </div>
            <div class=""><span class="font-bold text-gray-700">Account number</span> : {{bank.account_number}}</div>
            <div class=""><span class="font-bold text-gray-700">IFSC Code </span>: {{bank.ifsc_code}}</div>
          </div>
        {% endfor %}
    </div>

    <div class="col-span-5">
        <h2 class="text-lg text-gray-500 mb-2">Add Bank Account </h2>
        <form method="POST" class="shadow-lg border p-2 rounded bg-gray-100" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="md:grid lg:grid-cols-2 gap-2">
                <div class="">
                    <div class=""><label for="">Account Holder Name</label></div>
                    {{ form.account_holder_name }}
                </div>
                <div class="">
                    <div class=""><label for="">Bank Name</label></div>
                    {{ form.bank_name }}
                </div>
                <div class="">
                    <div class=""><label for="">Account Number</label></div>
                    {{ form.account_number }}
                </div>
                <div class="">
                    <div class=""><label for="">Confirm Account</label></div>
                    <input type="text" class="border-spacing-0 rounded border px-2 py-1" name="confirm_account" required>
                </div>
                <div class="">
                    <div class=""><label for="">IFSC CODE</label></div>
                    {{ form.ifsc_code }}
                </div>
                <div class="">
                    <div class=""><label for="">Branch</label></div>
                    {{ form.branch }}
                </div>
            </div> 
            <div class="flex mt-2 justify-end">
                <button class="px-3 py-1 text-white transition-all hover:bg-purple-700 bg-purple-500 rounded ">Add Bank</button>
                
            </div>
            {% if messages %}
            <ul class="messages rounded px-3 py-1 mt-2 mb-2 bg-slate-200">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                    {% endfor %}
            </ul>
            {% endif %}
        </form>
    </div>
</div>
{% endblock content %}