{% extends 'base/base.html' %}
{% load static %}
{% block title %}
<title>Investment | Deposit</title>
{% endblock title %}

{% block breadcrumb %}
    <li class="flex items-center gap-3">
        <span class="text-sm text-gray-500 font-medium tracking-wide">Account</span>
        <span class="text-base text-gray-400 font-light">/</span>
    </li>
    <li class="flex items-center gap-3">
        <span class="text-sm text-red-600 font-medium tracking-wide">Deposit</span>
        <span class="text-3xl text-gray-400 font-light">|</span>
    </li>
{% endblock breadcrumb %}

{% block breadcrumbtitle %}
Deposit
{% endblock breadcrumbtitle %}


{% block content %}
<div class="">
    <div class="">
        <div class="bg-gray-200 flex gap-2 px-4 py-2 rounded">
            <p>Available Balance :</p>
            <p>500</p>
        </div>

    </div>
    <!-- <div class="mt-2 lg:w-1/3 md:w-1/3 rounded border bg-gray-200 shadow p-4">
        <div class="">
            
        </div>
        <div class=""></div>
    </div> -->

    <div class="md:grid lg:grid-cols-12 md:gap-4 lg:gap-4 mt-2">
        <div class="md:col-span-7 w-full lg:col-span-7">
            <h2 class="text-lg text-gray-500 mb-2">Bank Accounts</h2>
            {% for bank in banks %}
                <div class="lg:w-1/2 md:w-1/2 rounded shadow bg-slate-200 p-2 mb-2">
                <div class="flex">
                </div>
                <div class=""><span class="font-bold text-gray-700">Holder Name</span> : {{bank.account_holder_name}}</div>
                <div class="flex justify-between">
                  <div class=""><span class="font-bold text-gray-700">Bank</span> : {{bank.bank_name}}</div>
                  <div class=""><span class="font-bold text-gray-700">Branch</span> : {{bank.branch}}</div>
                </div>
                <div class=""><span class="font-bold text-gray-700">Account number</span> : {{bank.account_number}}</div>
                <div class=""><span class="font-bold text-gray-700">IFSC Code </span>: {{bank.ifsc_code}}</div>
              </div>
            {% endfor %}
        </div>
    
        <div class="col-span-5 ">
            <h2 class="text-lg text-gray-500 mb-2">Add Bank Account </h2>
            <form method="POST" class="shadow p-2 rounded bg-slate-200">
                {% csrf_token %}
                <div class="">
                    <div class="mb-2">
                        <label for="" class="font-bold">Payment Referance code</label>
                        <div class="">
                            <input type="text" name="payment_ref_code" value="{{payment_ref_code}}" class="rounded py-1  text-green-400 px-2 default:bg-white" disabled/>
                        </div>
                    </div>
                    <div class="mb-2">
                        <label for="" class="font-bold">Enter Amount</label>
                        <div class="">
                            <input type="text" name="amount" class="rounded py-1  px-2" required />
                        </div>
                    </div>
                    <div class="">
                    <label for="" class="font-bold">Select Payment Channel</label>
                    <select name="payment_channel" class="w-full py-1 rounded  px-2" id="" required>
                        <option value="upi">UPI</option>
                    </select>
                    </div>
                    <div onclick="modal()" data-modal-target="popup-modal" data-modal-toggle="popup-modal" id="paynow" class="mt-2 cursor-pointer rounded bg-blue-500 hover:bg-blue-700 transition-all text-center py-1 font-semibold text-white">PAYNOW</div>
    
                    <div id="popup-modal" tabindex="-1" class="fixed top-0 left-0 right-0 z-50 hidden p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
                        <div class="relative w-full max-w-md max-h-full">
                            <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                                <button onclick="closeModal()" type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="popup-modal">
                                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                                    </svg>
                                    <span class="sr-only">Close modal</span>
                                </button>
                                <div class="p-6 text-center">
                                    <svg class="mx-auto mb-4 text-gray-400 w-12 h-12 dark:text-gray-200" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
                                    </svg>
                                    <h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">
                                        UPI ID : 9999999999
                                    </h3>
                                    <button data-modal-hide="popup-modal" type="submit" class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center mr-2">
                                        Yes, I'm sure
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script>

    const modal = () => {
        const openModal = document.getElementById("popup-modal")
        console.log(openModal);
        openModal.classList.remove("hidden")
    }
    const closeModal = () => {
        const closeModal = document.getElementById("popup-modal")
        closeModal.classList.add("hidden")
    }
    
</script>
{% endblock content %}