{% extends 'base/base.html' %}
{% load static %}
{% block title %}
<title>Investment | Dashboard</title>
{% endblock title %}

{% block script %}
<script type="module" src="{% static 'main/js/slider.js' %}"></script>
<script type="module" src="{% static 'main/js/marquee.js' %}"></script>
{% endblock script %}

{% block breadcrumb %}
<li class="flex items-center gap-3">
    <span class="text-sm text-red-600 font-medium tracking-wide">Dashboard</span>
    <span class="text-3xl text-gray-400 font-light">|</span>
</li>
{% endblock breadcrumb %}

{% block breadcrumbtitle %}
Dashboard
{% endblock breadcrumbtitle %}

{% block message %}
{% if messages %}
<div class="w-fit bg-white absolute right-8 top-16" data-alert="notification">
    {% for message in messages %}
    <div class="flex">
        <div
            class="bg-{{message.tags}} flex px-3 rounded-l text-xl items-center border-{{message.tags}} border text-white">
            <i class="icon-{{message.tags}}"></i>
        </div>
        <div
            class="border flex gap-3 text-sm tracking-wide font-medium rounded-r border-{{message.tags}} bg-{{message.tags}}_light px-4 py-3 text-{{message.tags}}">
            <span>{{ message }}</span>
            <button data-alert-close="close"
                class="icon-circle-with-cross border-l border-{{message.tags}} pl-3"></button>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}
{% endblock message %}

{% block content %}
<div class="space-y-7">
    <div class="grid grid-cols-12">
        <div class="border col-span-1 text-yellow-600 bg-gray-200 border-r-0 border-gray-400 rounded-l px-5 py-3">
            <div class="flex justify-center items-center gap-2 ">
                <i class="text-xl icon-bell"></i>
            </div>
        </div>
        <div class="col-span-11 items-center flex border bg-gray-100  border-gray-400 rounded-r px-5 py-3">
            <div class="marquee overflow-hidden flex  text-slate-600 tracking-wide text-base font-medium ">
                <span class="whitespace-nowrap">Lorem ipsum dolor sit amet consectetur adipisicing elit  Lorem ipsum dolor sit amet consectetur adipisicing elit. &nbsp</span>
            </div>
        </div>
    </div>
    <div class="lg:grid grid-cols-12 lg:gap-7">
        <div class="lg:col-span-6 space-y-8 rounded py-6 px-8 bg-dep relative overflow-hidden border-gray-400">
            <div class="space-y-1">
                <div
                    class="w-full text-center font-semibold flex justify-center items-center tracking-wide text-yellow-500 text-3xl">
                    <i class="icon-credit text-yellow-500"></i>
                    <span>{{user_data.amount}}</span>
                </div>
                <div class="w-full text-center">
                    <span class="font-semibold tracking-wide text-white text-2xl">Total Balance</span>
                </div>
            </div>
            <div class="space-y-2">
                <div class="text-white justify-between flex text-center px-2 text-base tracking-wide font-medium">
                    <span class="block">Today,s Profit</span>
                    <span class="text-yellow-500 font-bold"><i class="icon-credit"></i>00.00</span>
                </div>
                <div class="text-white flex justify-between text-center px-2 text-base tracking-wide font-medium">
                    <span class="block">Yesterday's Profit</span>
                    <span class="text-yellow-500 font-bold"><i class="icon-credit"></i>00.00</span>
                </div>
                <div class="text-white flex justify-between text-center px-2 text-base tracking-wide font-medium">
                    <span class="block">Accumulated Profit</span>
                    <span class="text-yellow-500 font-bold"><i class="icon-credit"></i>00.00</span>
                </div>
            </div>
            <div class="lg:flex lg:justify-between">
                <div class="flex-auto text-center">
                    <a href="" class="bg-gred border-2 m-auto text-white border-red-700 w-14 h-14 shadow rounded-full text-2xl flex items-center justify-center">
                        <i class="icon-wallet"></i>
                    </a>
                    <span class="text-white text-sm tracking-wide font-medium">Deposite</span>
                </div>
                <div class="flex-auto text-center">
                    <a href="" class="bg-gred border-2 m-auto text-white border-red-700 w-14 h-14 shadow rounded-full text-2xl flex items-center justify-center">
                        <i class="icon-withdrawal"></i>
                    </a>
                    <span class="text-white text-sm tracking-wide font-medium">Withdraw</span>
                </div>
                <div class="flex-auto text-center">
                    <a href="" class="bg-gred border-2 m-auto text-white border-red-700 w-14 h-14 shadow rounded-full text-2xl flex items-center justify-center">
                        <i class="icon-add-user"></i>
                    </a>
                    <span class="text-white text-sm tracking-wide font-medium">Invite</span>
                </div>
            </div>
        </div>
        <!-- <div class="lg:col-span-5">
            <div class="carousel relative rounded border border-gray-400">
                <div class="slide">
                    <img src="{% static 'main/image/slider.jpg'%}" />
                </div>
                <div class="slide">
                    <img src="{% static 'main/image/slider.jpg'%}" />
                </div>
                <div class="slide">
                    <img src="{% static 'main/image/slider.jpg'%}" />
                </div>
            </div>
        </div> -->
        <div class="lg:col-span-6 h-full">
            <div class="border rounded-t py-3 px-4 border-b-0 bg-gray-100 border-gray-400">
                <span class="font-medium text-slate-700 text-lg ">Historical User Deposits</span>
            </div>
            <div class="border p-4 border-gray-400 rounded-b">
                sajan
            </div>
        </div>
    </div>
    <div class="lg:grid grid-cols-12">
        <div class="lg:col-span-12">
            <div class="border rounded-t py-3 px-4 border-b-0 bg-gray-100 border-gray-400">
                <span class="font-medium text-slate-700 text-lg ">Cooperative Partner </span>
            </div>
            <div class="border  lg:grid lg:grid-cols-6 lg:gap-2 py-6 px-4 border-gray-400 rounded-b">
                <div class="lg:col-span-1 shadow-lg overflow-hidden p-1 rounded border border-gray-400">
                    <img style="mix-blend-mode: multiply;" src="{% static 'main/image/cop/first.png'%}" />
                </div>
                <div class="lg:col-span-1 shadow overflow-hidden p-1 rounded border border-gray-400">
                    <img style="mix-blend-mode: multiply;" src="{% static 'main/image/cop/flipkart.png'%}" />
                </div>
                <div class="lg:col-span-1 shadow overflow-hidden p-1 rounded border border-gray-400">
                    <img style="mix-blend-mode: multiply;" src="{% static 'main/image/cop/amazon.png'%}" />
                </div>
                <div class="lg:col-span-1 shadow overflow-hidden p-1 rounded border border-gray-400">
                    <img style="mix-blend-mode: multiply;" src="{% static 'main/image/cop/bookmyshow.png'%}" />
                </div>
                <div class="lg:col-span-1 shadow overflow-hidden p-1 rounded border border-gray-400">
                    <img style="mix-blend-mode: multiply;" src="{% static 'main/image/cop/myntra.png'%}" />
                </div>
                <div class="lg:col-span-1 shadow overflow-hidden p-1 rounded border border-gray-400">
                    <img style="mix-blend-mode: multiply;" src="{% static 'main/image/cop/snapdeal.png'%}" />
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}