{% extends 'base/base.html' %}
{% load static %}
{% block title %}
<title>BlackRock | Dashboard</title>
{% endblock title %}

{% block script %}
<script type="module" src="{% static 'main/js/slider.js' %}"></script>
<script type="module" src="{% static 'main/js/marquee.js' %}"></script>
{% endblock script %}

{% block message %}
{% if messages %}
<div class="w-fit bg-white absolute right-8 top-16" data-alert="notification">
    {% for message in messages %}
    <div class="flex">
        <div
            class="bg-{{message.tags}} flex px-3 rounded-l text-xl items-center border-{{message.tags}} border text-white">
            <i class="icon-{{message.tags}}"></i>
        </div>
        <div
            class="border flex gap-3 text-sm tracking-wide font-medium rounded-r border-{{message.tags}} bg-{{message.tags}}_light px-4 py-3 text-{{message.tags}}">
            <span>{{ message }}</span>
            <button data-alert-close="close"
                class="icon-circle-with-cross border-l border-{{message.tags}} pl-3"></button>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}
{% endblock message %}

{% block content %}

<div class="space-y-6 mb-6">
    <div class="lg:grid lg:grid-cols-12">
        <div class="lg:col-span-8 lg:col-start-3">
            <div class="relative lg:h-64 h-40 overflow-hidden rounded-xl">
                <div class="slide">
                    <img src="{% static 'main/image/wall1.jpg' %}"/>
                </div>
                <div class="slide">
                    <img src="{% static 'main/image/wall2.jpg' %}"/>
                </div>
                <div class="slide">
                    <img src="{% static 'main/image/wall3.jpg' %}"/>
                </div>
                <div class="slide">
                    <img src="{% static 'main/image/wall4.jpg' %}"/>
                </div>
                <div class="slide">
                    <img src="{% static 'main/image/wall5.jpg' %}"/>
                </div>
                <div class="slide">
                    <img src="{% static 'main/image/wall6.jpg' %}"/>
                </div>
                <div class="slide">
                    <img src="{% static 'main/image/wall7.jpg' %}"/>
                </div>
                <div class="slide">
                    <img src="{% static 'main/image/wall8.jpg' %}"/>
                </div>
            </div>
        </div>
    </div>
    <div class="lg:grid lg:grid-cols-12 !mt-12">
        <div class="lg:col-span-12 flex justify-between">
            <div class="flex-auto text-center">
                <a href="{% url 'deposit' %}" class="bg-gray-800 m-auto text-white lg:w-12 lg:h-12 h-9 w-9 rounded-full lg:text-2xl text-lg flex items-center justify-center">
                    <i class="icon-wallet"></i>
                </a>
                <span class="text-gray-700 lg:text-sm text-xs tracking-wide font-medium">Deposite</span>
            </div>
            <div class="flex-auto text-center">
                <a href="{% url 'withdrawl' %}" class="bg-gray-800 m-auto text-white lg:w-12 lg:h-12 h-9 w-9 rounded-full lg:text-2xl text-lgtext-2xl flex items-center justify-center">
                    <i class="icon-withdrawal"></i>
                </a>
                <span class="text-gray-700 lg:text-sm text-xs tracking-wide font-medium">Withdraw</span>
            </div>
            <div class="flex-auto text-center relative cursor-pointer">
                <a data-invitation="{{invite_link}}" class="bg-gray-800 m-auto text-white lg:w-12 lg:h-12 h-9 w-9 rounded-full lg:text-2xl text-lg flex items-center justify-center">
                    <i class="icon-add-user"></i>
                </a>
                <span class="text-gray-700 lg:text-sm text-xs tracking-wide font-medium" >Invite</span>
                <span data-text="copied" class="border border-green-400 hidden rounded-sm bg-green-100 tracking-wide text-green-800 absolute z-30 text-center px-2 p-1 left-0 w-28 m-auto right-0 -top-8 text-sm">Link copied</span>
            </div>
        </div>
    </div>
    <div class="flex gap-6 p-3">
        <div class="text-gray-700 ">
            <div class="flex justify-start items-center gap-2 ">
                <i class="text-xl icon-bell"></i>
            </div>
        </div>
        <div class="items-center overflow-x-hidden flex">
            <div class="marquee-left-right gap-2 flex  text-slate-600 tracking-wide text-base font-medium ">
                {% for item in payments  %}
                <span class="whitespace-nowrap flex gap-3">
                    <span>{{item.created_at |date:"d/m/y"}}</span>
                    <span>
                        {% if item.payment_type == 'DEPOSIT' %}
                            <span class="text-green-600"> {{item.payment_type |title}} </span>
                        {% else %}
                            <span class="text-red-600"> {{item.payment_type |title}} </span>
                        {% endif %}
                    </span>
                    <span>
                        {% if item.payment_status == "pending" %}
                            <span class="text-yellow-800">
                                {{item.payment_status |title}}
                            </span>
                        {% elif item.payment_status == "success" %}
                            <span class="text-green-800">
                                {{item.payment_status |title}}
                            </span>
                        {% else %}
                            <span class="text-red-800">
                                {{item.payment_status |title}}
                            </span>
                        {% endif %}
                    </span>
                    <span> {{item.amount}}</span>
                </span>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<div class="space-y-10">
    <div class="lg:grid lg:grid-cols-12">
        <div class="lg:col-span-12 space-y-8 rounded-xl py-6 lg:px-8 px-4 bg-dep relative overflow-hidden border-gray-400">
            <div class="space-y-1">
                <div class="w-full text-center">
                    <span class="font-medium tracking-wide text-white lg:text-2xl text-xl">Balance(Rs)</span>
                </div>
                <div class="w-full text-center font-semibold gap-2 flex justify-center items-center tracking-wide text-white lg:text-3xl text-2xl">
                    <span class="text-white">Rs</span>
                    <span>{{user_data.amount}}.00</span>
                </div>
            </div>
            <div class="flex justify-between">
                <div class="text-center">
                    <span class="text-white lg:text-sm text-xs tracking-wide font-bold"><i class="icon-credit"></i>{{user_data.today_profit}}.00</span>
                    <span class="block tracking-wide font-medium text-white lg:text-sm text-xs">Today,s Profit</span>
                </div>
                <div class="text-center">
                    <span class="text-white lg:text-sm text-xs tracking-wide font-bold"><i class="icon-credit"></i>{{user_data.yesterday_profit}}.00</span>
                    <span class="block tracking-wide font-medium text-white lg:text-sm text-xs">Yesterday's Profit</span>
                </div>
                <div class="text-center">
                    <span class="text-white lg:text-sm text-xs tracking-wide font-bold"><i class="icon-credit"></i>{{user_data.accumulated_profit}}.00</span>
                    <span class="block tracking-wide font-medium text-white lg:text-sm text-xs">Accumulated Profit</span>
                </div>
            </div>
        </div>
    </div>
    <div class="lg:grid lg:grid-cols-12">
        <div class="lg:col-span-12 overflow-hidden space-y-7">
            <div class="">
                <span class="font-medium text-slate-700 lg:text-2xl text-xl tracking-wide ">Historical User Deposits</span>
            </div>
            <div class="p-4 bg-gray-200 rounded-xl">
                <div class="marquee-top-bottom space-y-2 overflow-hidden h-64">
                    {% for item in payments  %}
                    <div class="lg:col-span-6 space-y-6">
                        <div class="space-y-[2px] border py-2 px-3 rounded bg-gray-100 border-gray-400">
                            <div class="lg:flex items-center justify-between">
                                <div class="flex text-gray-600 gap-1 items-center text-sm font-semibold tracking-wider">
                                    <span> Payment Type : </span>
                                    {% if item.payment_type == 'DEPOSIT' %}
                                        <span class="text-green-600"> {{item.payment_type |title}} </span>
                                    {% else %}
                                        <span class="text-red-600"> {{item.payment_type |title}} </span>
                                    {% endif %}
                                </div>
                                <div class="flex gap-1 font-semibold text-sm text-gray-600 tracking-wider">
                                    <span> Payment Status : </span>
                                    {% if item.payment_status == "pending" %}
                                        <span class="text-yellow-800">
                                            {{item.payment_status |title}}
                                        </span>
                                    {% elif item.payment_status == "success" %}
                                        <span class="text-green-800">
                                            {{item.payment_status |title}}
                                        </span>
                                    {% else %}
                                        <span class="text-red-800">
                                            {{item.payment_status |title}}
                                        </span>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="lg:flex items-center justify-between">
                                <div class="flex">
                                    <div class="flex gap-1 text-gray-600 text-sm font-semibold tracking-wider">
                                        <span> Date : </span>
                                        <span> {{item.created_at |date:"d/m/y"}}</span>
                                    </div>                               
                                </div>
                                <div class="flex">
                                    <div class="flex gap-1 text-sm text-gray-600 font-semibold tracking-wider">
                                        <span> Amount : </span>
                                        <span> {{item.amount}}.00</span>
                                    </div> 
                                </div>
                            </div>                          
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="lg:grid lg:grid-cols-12 space-y-3 lg:space-y-0">
        <div class="col-span-3">
            <a href="{% url 'about' %}" class="flex text-gray-700 gap-2 items-center hover:text-blue-600 transition-all">
                <i class="icon-about-us lg:text-3xl text-xl"></i>
                <span class="lg:text-sm text-xs tracking-wide font-medium">About Company</span>
            </a>
        </div>
        <div class="col-span-3">
            <a  href="{% url 'our_products' %}" class="flex text-gray-700 gap-2 items-center hover:text-blue-600 transition-all">
                <i class="icon-gift lg:text-3xl text-xl"></i>
                <span class="lg:text-sm text-xs tracking-wide font-medium">Our Company Products</span>
            </a>
        </div>
        <div class="col-span-3">
            <a href="{% url 'work_from_home' %}" class="flex text-gray-700 gap-2 items-center hover:text-blue-600 transition-all">
                <i class="icon-qualifications lg:text-3xl text-xl"></i>
                <span class="lg:text-sm text-xs tracking-wide font-medium">Work From Home</span>
            </a>
        </div>
        <div class="col-span-3">
            <a  href="{% url 'terms_condition' %}" class="flex text-gray-700 gap-2 items-center hover:text-blue-600 transition-all">
                <i class="icon-edit lg:text-3xl text-xl"></i>
                <span class="lg:text-sm text-xs tracking-wide font-medium">Terms & Conditions</span>
            </a>
        </div>
    </div>
    <div class="lg:grid lg:grid-cols-12">
        <div class="lg:col-span-12 space-y-7">
            <div class="">
                <span class="font-medium text-slate-700 lg:text-2xl text-xl tracking-wide ">Cooperative Partner </span>
            </div>
            <div class="grid grid-cols-4 gap-2 border-gray-400">
                <div class="col-span-2 mb-8">
                    <img class="lg:w-40 w-28 mx-auto"  style="mix-blend-mode: multiply;" src="{% static 'main/image/cop/logo1.png'%}" />
                </div>
                <div class="col-span-2 mb-8">
                    <img class="lg:w-40 w-28 mx-auto"  style="mix-blend-mode: multiply;" src="{% static 'main/image/cop/logo2.png'%}" />
                </div>
                <div class="col-span-2 mb-8">
                    <img class="lg:w-40 w-28 mx-auto"  style="mix-blend-mode: multiply;" src="{% static 'main/image/cop/logo3.png'%}" />
                </div>
                <div class="col-span-2">
                    <img class="lg:w-40 w-28 mx-auto"  style="mix-blend-mode: multiply;" src="{% static 'main/image/cop/logo4.png'%}" />
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}