{% extends 'base/base.html' %}
{% load static %}
{% block title %}
<title>Investment | Dashboard</title>
{% endblock title %}

{% block breadcrumb %}
<li class="flex items-center gap-3">
    <span class="text-sm text-red-600 font-medium tracking-wide">Dashboard</span>
    <span class="text-3xl text-gray-400 font-light">|</span>
</li>
{% endblock breadcrumb %}

{% block breadcrumbtitle %}
Dashboard
{% endblock breadcrumbtitle %}

{% block message %}
    {% if messages %}
    <div class="w-fit bg-white absolute right-8 top-16"  data-alert="notification">
        {% for message in messages %}
        <div class="flex">
            <div class="bg-{{message.tags}} flex px-3 rounded-l text-xl items-center border-{{message.tags}} border text-white">
                <i class="icon-{{message.tags}}"></i>
            </div>
            <div class="border flex gap-3 text-sm tracking-wide font-medium rounded-r border-{{message.tags}} bg-{{message.tags}}_light px-4 py-3 text-{{message.tags}}">
                <span>{{ message }}</span>
                <button data-alert-close="close" class="icon-circle-with-cross border-l border-{{message.tags}} pl-3"></button>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
{% endblock message %}

{% block content %}
<div class="lg:grid grid-cols-12 lg:gap-7">
    <div class="col-span-5 space-y-8 rounded py-6 px-8" style="background-image: url('../../static/main/image/is.svg');">
        <div class="space-y-1">
            <div class="w-full text-center font-semibold flex justify-center items-center tracking-wide text-yellow-500 text-3xl">
                <i class="icon-credit text-yellow-500"></i>
                <span>500</span>
            </div>
            <div class="w-full text-center">
                <span class="font-semibold tracking-wide text-white text-2xl">Total Balance</span>
            </div>
        </div>
        <div class="space-y-2">
            <div class="text-white justify-between flex text-center px-2 text-base tracking-wide font-medium">
                <span class="block">Today,s Profit</span>
                <span class="text-yellow-500"><i class="icon-credit"></i>00.00</span>
            </div>
            <div class="text-white flex justify-between text-center px-2 text-base tracking-wide font-medium">
                <span class="block">Yesterday's Profit</span>
                <span class="text-yellow-500"><i class="icon-credit"></i>00.00</span>
            </div>
            <div class="text-white flex justify-between text-center px-2 text-base tracking-wide font-medium">
                <span class="block">Accumulated Profit</span>
                <span class="text-yellow-500"><i class="icon-credit"></i>00.00</span>
            </div>
        </div>
        <div class="lg:flex lg:justify-between">
            <a href="" class="bg-gred border-2 text-white border-red-700 w-14 h-14 shadow rounded-full text-2xl flex items-center justify-center"><i class="icon-wallet"></i></a>
            <a href="" class="bg-gred border-2 text-white border-red-700 w-14 h-14 shadow rounded-full text-2xl flex items-center justify-center"><i class="icon-withdrawal"></i></a>
            <a href="" class="bg-gred border-2 text-white border-red-700 w-14 h-14 shadow rounded-full text-2xl flex items-center justify-center"><i class="icon-add-user"></i></a>
        </div>
    </div>
    <div class="col-span-8">

    </div>
    <div class="border col-span-4 mb-2 p-6 rounded bg-slate-100" >
        <div class="mb-2 flex justify-between items-center">
            <h2 class="text-slate-500 text-lg m-0">Total Balance</h2>
        </div>
        <div class="flex  justify-between">
            <h3 class="text-gray-400">Amount</h3>
            <h3 class="text-lg">500</h3>
        </div>
    </div>
    
</div>
{% endblock content %}