{% extends 'base/base.html' %}
{% load static %}
{% block title %}
<title>BlackRock | Message Report</title>
{% endblock title %}

{% block breadcrumb %}
    <li class="flex items-center gap-3">
        <span class="lg:text-sm text-xs text-gray-500 font-medium tracking-wide">Account</span>
        <span class="lg:text-3xl text-xl text-gray-400 font-light">|</span>
    </li>
{% endblock breadcrumb %}

{% block breadcrumbtitle %}
Team Report
{% endblock breadcrumbtitle %}


{% block content %}
Team Report
{% endblock content %}
