{% extends 'base/base.html' %}
{% load static %}
{% block title %}
<title>Order Hall</title>
{% endblock title %}

{% block breadcrumb %}
    <li class="flex items-center gap-3">
        <span class="text-sm text-gray-500 font-medium tracking-wide">Account</span>
        <span class="text-base text-gray-400 font-light">/</span>
    </li>
    <li class="flex items-center gap-3">
        <span class="text-sm text-red-600 font-medium tracking-wide">Order Hall</span>
        <span class="text-3xl text-gray-400 font-light">|</span>
    </li>
{% endblock breadcrumb %}

{% block breadcrumbtitle %}
Order Hall
{% endblock breadcrumbtitle %}


{% block content %}
Order Hall
{% endblock content %}