{% extends 'base/website_base.html' %}
{% load static %}

{% block title %}
<title>BlackRock | Products </title>
{% endblock title %}

{% block background %}
<div class="w-full lg:py-28 lg:px-8 py-12 px-4 bg-black">
    <h1 class="text-5xl text-white font-bold ">Products</h1>
</div>
{% endblock background %}
{% block content %}

<div class="w-full container mx-auto space-y-2 px-8">
    <h5 class="text-black text-3xl font-bold tracking-wide border-b pb-3 border-black mb-4">Our Products</h5>
    <div class="lg:grid lg:grid-cols-2 space-y-7 lg:space-y-0 lg:gap-7 items-center">
        <div class="lg:col-span-1 lg:flex space-y-4 lg:space-y-0 lg:p-0 p-3 shadow border bg-gray-100 border-gray-400 rounded overflow-hidden">
            <div class="lg:w-1/3 lg:border-r border-gray-400 lg:flex items-center">
                <img src="{% static 'main/image/p1.jpeg'%}">
            </div>
            <div class="flex-auto lg:p-3">
                <div class="space-y-1">
                    <h2 class="text-black tracking-wide lg:text-2xl text-xl font-bold">Black Rock Stock Assets Investment</h2>
                    <div class="flex justify-between font-semibold text-slate-600 tracking-wide rounded-sm">
                        <span>Price</span> 
                        <span class="text-gray-700 tracking-wider">₹ 612.00</span>
                    </div>
                    <div class="flex justify-between font-semibold text-slate-600 tracking-wide rounded-sm">
                        <span>Term</span> 
                        <span class="text-gray-700 tracking-wider">45 Days</span>
                    </div>
                    <div class="flex justify-between font-semibold text-slate-600 tracking-wide rounded-sm">
                        <span>Daily Income </span> 
                        <span class="text-gray-700 tracking-wider">₹ 20.00 </span>
                    </div>
                    <div class="flex justify-between font-semibold text-slate-600 tracking-wide rounded-sm">
                        <span>Total Earning </span> 
                        <span class="text-gray-700 tracking-wider">₹ 1252.00 </span>
                    </div>
                </div>
                <div class="mt-4">
                    <a data-option="deposite" class="p-1 rounded-sm px-3 text-base h-12 flex items-center justify-center gap-2 bg-red-500 text-white tracking-wide" href="{% url 'deposit' %}">
                        <span>Buy Now</span>
                        <i class="icon-chevron-right"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="lg:col-span-1 lg:flex space-y-4 lg:space-y-0 lg:p-0 p-3 shadow border bg-gray-100 border-gray-400 rounded overflow-hidden">
            <div class="lg:w-1/3 lg:border-r border-gray-400 lg:flex items-center">
                <img src="{% static 'main/image/p2.jpeg'%}">
            </div>
            <div class="flex-auto lg:p-3">
                <div class="space-y-1">
                    <h2 class="text-black tracking-wide lg:text-2xl text-xl font-bold">Black Rock AI Stock Assets Investment</h2>
                    <div class="flex justify-between font-semibold text-slate-600 tracking-wide rounded-sm">
                        <span>Price</span> 
                        <span class="text-gray-700 tracking-wider">₹ 4500.00</span>
                    </div>
                    <div class="flex justify-between font-semibold text-slate-600 tracking-wide rounded-sm">
                        <span>Term</span> 
                        <span class="text-gray-700 tracking-wider">45 Days</span>
                    </div>
                    <div class="flex justify-between font-semibold text-slate-600 tracking-wide rounded-sm">
                        <span>Daily Income </span> 
                        <span class="text-gray-700 tracking-wider">₹ 192.00 </span>
                    </div>
                    <div class="flex justify-between font-semibold text-slate-600 tracking-wide rounded-sm">
                        <span>Total Earning </span> 
                        <span class="text-gray-700 tracking-wider">₹ 9112.00 </span>
                    </div>
                </div>
                <div class="mt-4">
                    <a data-option="deposite" class="p-1 rounded-sm px-3 text-base h-12 flex items-center justify-center gap-2 bg-red-500 text-white tracking-wide" href="{% url 'deposit' %}">
                        <span>Buy Now</span>
                        <i class="icon-chevron-right"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="lg:col-span-1 lg:flex space-y-4 lg:space-y-0 lg:p-0 p-3 shadow border bg-gray-100 border-gray-400 rounded overflow-hidden">
            <div class="lg:w-1/3 lg:border-r border-gray-400 lg:flex items-center">
                <img src="{% static 'main/image/p3.jpeg'%}">
            </div>
            <div class="flex-auto lg:p-3">
                <div class="space-y-1">
                    <h2 class="text-black tracking-wide lg:text-2xl text-xl font-bold">Natural Resource Stocks Assets Investment</h2>
                    <div class="flex justify-between font-semibold text-slate-600 tracking-wide rounded-sm">
                        <span>Price</span> 
                        <span class="text-gray-700 tracking-wider">₹ 17400.00</span>
                    </div>
                    <div class="flex justify-between font-semibold text-slate-600 tracking-wide rounded-sm">
                        <span>Term</span> 
                        <span class="text-gray-700 tracking-wider">48 Days</span>
                    </div>
                    <div class="flex justify-between font-semibold text-slate-600 tracking-wide rounded-sm">
                        <span>Daily Income </span> 
                        <span class="text-gray-700 tracking-wider">₹ 797.00 </span>
                    </div>
                    <div class="flex justify-between font-semibold text-slate-600 tracking-wide rounded-sm">
                        <span>Total Earning </span> 
                        <span class="text-gray-700 tracking-wider">₹ 36030.00 </span>
                    </div>
                </div>
                <div class="mt-4">
                    <a data-option="deposite" class="p-1 rounded-sm px-3 text-base h-12 flex items-center justify-center gap-2 bg-red-500 text-white tracking-wide" href="{% url 'deposit' %}">
                        <span>Buy Now</span>
                        <i class="icon-chevron-right"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="lg:col-span-1 lg:flex space-y-4 lg:space-y-0 lg:p-0 p-3 shadow border bg-gray-100 border-gray-400 rounded overflow-hidden">
            <div class="lg:w-1/3 lg:border-r border-gray-400 lg:flex items-center">
                <img src="{% static 'main/image/p4.jpeg'%}">
            </div>
            <div class="flex-auto lg:p-3">
                <div class="space-y-1">
                    <h2 class="text-black tracking-wide lg:text-2xl text-xl font-bold">Vanguard Stock Investment </h2>
                    <div class="flex justify-between font-semibold text-slate-600 tracking-wide rounded-sm">
                        <span>Price</span> 
                        <span class="text-gray-700 tracking-wider">₹ 4200.00</span>
                    </div>
                    <div class="flex justify-between font-semibold text-slate-600 tracking-wide rounded-sm">
                        <span>Term</span> 
                        <span class="text-gray-700 tracking-wider">47 Days</span>
                    </div>
                    <div class="flex justify-between font-semibold text-slate-600 tracking-wide rounded-sm">
                        <span>Daily Income </span> 
                        <span class="text-gray-700 tracking-wider">₹ 2004.00 </span>
                    </div>
                    <div class="flex justify-between font-semibold text-slate-600 tracking-wide rounded-sm">
                        <span>Total Earning </span> 
                        <span class="text-gray-700 tracking-wider">₹ 94980.00 </span>
                    </div>
                </div>
                <div class="mt-4">
                    <a data-option="deposite" class="p-1 rounded-sm px-3 text-base h-12 flex items-center justify-center gap-2 bg-red-500 text-white tracking-wide" href="{% url 'deposit' %}">
                        <span>Buy Now</span>
                        <i class="icon-chevron-right"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="lg:col-span-1 lg:flex space-y-4 lg:space-y-0 lg:p-0 p-3 shadow border bg-gray-100 border-gray-400 rounded overflow-hidden">
            <div class="lg:w-1/3 lg:border-r border-gray-400 lg:flex items-center">
                <img src="{% static 'main/image/p5.jpeg'%}">
            </div>
            <div class="flex-auto lg:p-3">
                <div class="space-y-1">
                    <h2 class="text-black tracking-wide lg:text-2xl text-xl font-bold">Morgan Stanley Stock Assets Investment</h2>
                    <div class="flex justify-between font-semibold text-slate-600 tracking-wide rounded-sm">
                        <span>Price</span> 
                        <span class="text-gray-700 tracking-wider">₹ 82500.00</span>
                    </div>
                    <div class="flex justify-between font-semibold text-slate-600 tracking-wide rounded-sm">
                        <span>Term</span> 
                        <span class="text-gray-700 tracking-wider">49 Days</span>
                    </div>
                    <div class="flex justify-between font-semibold text-slate-600 tracking-wide rounded-sm">
                        <span>Daily Income </span> 
                        <span class="text-gray-700 tracking-wider">₹ 4070.00 </span>
                    </div>
                    <div class="flex justify-between font-semibold text-slate-600 tracking-wide rounded-sm">
                        <span>Total Earning </span> 
                        <span class="text-gray-700 tracking-wider">₹ 195800.00 </span>
                    </div>
                </div>
                <div class="mt-4">
                    <a data-option="deposite" class="p-1 rounded-sm px-3 text-base h-12 flex items-center justify-center gap-2 bg-red-500 text-white tracking-wide" href="{% url 'deposit' %}">
                        <span>Buy Now</span>
                        <i class="icon-chevron-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block script %}
    <script type="module">
        /** @type {?HTMLAnchorElement[]} */
        const navItems = Array.from(document.querySelectorAll('[data-option]'));
        const classListSpan = ["!text-white", "lg:w-14", "lg:h-14", "w-9", "h-9", "lg:border-4", "border-2", "border-gray-900" ,"rounded-full", "bg-gray-700" ,"inline-flex", "items-center", "justify-center"];
        const sessionValueStore = function () {
            const getSessionValue = sessionStorage.getItem('currentNavItem');
            switch (getSessionValue) {
                case 'deposite':
                    document.querySelector('[data-option="deposite"]')?.classList.add('currentNavItem');
                    document.querySelector('[data-option="dashboard"]')?.children[0].classList.remove(...classListSpan)
                    document.querySelector('[data-option="deposite"]')?.children[0].classList.add(...classListSpan)
                    document.querySelector('[data-option="dashboard"]')?.children[1].classList.remove('hidden')
                    document.querySelector('[data-option="deposite"]')?.children[1].classList.add('hidden')
                    break;
                
            }
        }
        navItems?.map((element) => {
            element.addEventListener('click', (event) => {
                const navValue = event.currentTarget.getAttribute('data-option');
                sessionStorage.setItem('currentNavItem', navValue);
            });
        });
    </script>
{% endblock script %}