{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Investment |  Login</title>
    <link rel="icon" type="image/png" sizes="32x32" href="{%static 'main/image/logo.svg'%}">
    <link rel="stylesheet" href="{% static 'main/css/mainStyle.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/login/login.css' %}">
    <script type="module" src="{% static 'main/js/tailwind.js' %}"></script>
    <script type="module" src="{% static 'main/js/tailwind.config.js' %}"></script>
</head>

<body>
    <section class="gradient-form lg:px-12 p-5 lg:h-screen flex items-center justify-center bg-neutral-200">
        <div class="flex flex-wrap w-full rounded-lg overflow-hidden">
          <div class="w-full bg-white lg:w-6/12">
            <div class="lg:p-10 p-6">
              <div class="text-left flex">
                <h1 class="flex-auto tracking-wide text-3xl mb-4 text-slate-500">Login</h1>
              </div>
              {% if messages %}
                {% for message in messages %}
                  <div class="flex items-center mb-4 text-{{message.tags}}">
                    <i class="icon-{{message.tags}}"></i>
                    <div class="ml-3 text-sm font-medium">
                      {{ message }}
                    </div>
                  </div>
                  {% endfor %}
              {% endif %}
              <form method="POST">
                {% csrf_token %}
                <!-- Email input -->
                <div class="mb-6">
                  <label class="text-sm text-slate-500 block mb-2 font-medium tracking-wide" >Username <span class="text-red-500">*</span></label>
                  <div class="relative flex items-center">
                    <span class="absolute text-red-700 border-r border-red-700 px-3">
                      <i class="icon-user"></i>
                    </span>
                    <input 
                      type="text" 
                      name="username"
                      class="border-2 pl-12 h-12 border-red-700 rounded text-slate-500 font-medium tracking-wide text-sm focus:outline-none block w-full p-2"
                      placeholder="Username" 
                    />
                  </div>
                </div>
      
                <!-- Password input -->
                <div class="mb-6">
                  <label class="text-sm block text-slate-500 mb-2 font-medium tracking-wide" >Password <span class="text-red-500">*</span></label>
                  <div class="relative flex items-center">
                    <span class="absolute text-red-700 border-r border-red-700 px-3">
                      <i class="icon-lock"></i>
                    </span>
                    <input 
                      type="password" 
                      name="password"
                      class="border-2 pl-12 h-12 border-red-700 rounded text-slate-500 font-medium tracking-wide text-sm focus:outline-none block w-full p-2"
                      placeholder="Password" 
                    />
                  </div>
                </div>      
                <!-- Submit button -->
                <div class="lg:flex w-full items-center justify-between lg:mt-10 lg:space-y-0 space-y-3">
                  <span class="text-slate-500 font-medium text-sm">Not registered? <a class="ml-2 text-blue-500" href="{% url 'register' %}">Create account</a></span>
                  <button
                    type="submit"
                    class="border-2 font-medium tracking-wide text-cyan-50 bg-red-600 rounded flex items-center gap-3 border-red-700 py-2 px-3">
                    <span>Login</span>
                    <i class="icon-login"></i>
                  </button>
                </div>
              </form>
            </div>
          </div>

          <!-- Right column container with background and description-->
          <div class="flex lg:p-0 p-10 w-full order-first lg:order-2 lg:w-6/12 items-center justify-center"
            style="background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593)">
            <div class="text-center">
              <img class="w-20 sepia invert mb-5 m-auto" src="{% static 'main/image/logo.svg' %}" />
              <h4 class="lg:mb-6 text-4xl text-white font-light">Welcome Back!</h4>
            </div>
          </div>
        </div>
      </section>
</body>
</html>